.price-table {
  display: flex;
  width: 1170px;
  justify-content: space-around;
}

.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 770px;
  font-family: "Montserrat";
  font-style: normal;
  color: $text-color-white;
  background-color: $color-grey;
  box-shadow: $shadow;
  position: relative;
  overflow: hidden;
/*padding: 0 0 42px 0;*/
padding-bottom: 41px;

  &__title {
    text-align: center;
    margin: 30px 140px 54px 140px;
    /*line-height: 43px;*/
  }

  &__title-main {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 0;
  }

  &__price {
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    padding: 18px 110px 19px 110px;
    width: 100%;

    &-green {
      background-color: $color-green;
    }
    &-blue {
      background-color: $color-blue;
    }
    &-orange {
      background-color: $color-orange;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin: 39px 26px 42px 26px;
    text-align: center;
  }

  &__order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 14px;
    line-height: 17px;
    /*text-align: center;*/
    border: none;
    padding: 11px 27px 11px 28px;
    color: $text-color-white;
    text-transform: uppercase;

    &-green {
      background-color: $color-green;
    }
    &-blue {
      background-color: $color-blue;
    }
    &-orange {
      background-color: $color-orange;
    }
  }

  .bussiness {

    &__tape {
      position: absolute;
      height: 25px;
      width: 147px;
      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
      transform: rotate(45deg);
      color: $text-color-white;
      background-color: $color-red;
      right: -30px;
        top: 28px;

    }
  }
  
}

.options-list {
  padding: 0;
  width: 100%;
  list-style-type: none;

  &__item {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    padding: 16px 21px 16px 22px;

    &-text {
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      margin-left: 21px;
    }

    &:nth-child(odd) {
      background-color: $color-dark-grey;
    }
  }
}

.checkmark {
  display: inline-block;
  width: 15px;
  height: 13px;

  &-green {
    background-image: $checkmark-green;
  }

  &-blue {
    background-image: $checkmark-blue;
  }

  &-orange {
    background-image: $checkmark-orange;
  }
}
