
/* text color */
$text-color-white: #FFFFFF;

/* background color*/
$color-black: #000;
$color-grey: #334247;
$color-dark-grey: #2A3438;
$color-deep-dark-grey: #141B1C;
$color-green: #5BB189;
$color-blue: #3A6BA5;
$color-orange: #EC632A;
$color-red: #DC3F45;

$shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);

/*fonts*/
$font-basic: 'Montserrat', sans-serif;

/* checkmarcks */

$checkmark-green: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);

$checkmark-blue: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);

$checkmark-orange: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);